
{% extends "base/store/base.html" %}

{% load static %}
 
{% block title %}
Reset Password
{% endblock %}

{% block content %}

<style>
    .card-title-bold
    {
        font-weight: 600;
    }
</style>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto mt-2" style="max-width: 380px; ">
            <img src="{% static 'store/images/forgot-password.webp' %}"  alt="forgot password" >
            <h4 class="text-center text-black">Change Password</h4>
          <div class="card-body">
            {% if messages %}
                        {% for message in messages %}
                        <div
                          class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-dark {% endif %}"
                          role="alert">
                          <strong>{{message.tags|title}} !</strong> {{message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        {% endfor %}

           {% endif %}
          <form method="POST" >
            {% csrf_token %}
              <div class="form-group mb-3">
                 <input required type="number" name="otp" id="userProfileEmailPasswordChangeOtp"  class="form-control" placeholder="Enter OTP" >
                 <p class="text-danger small m-0 p-0" id="userProfileEmailPasswordChangeOtpError"></p>

                </div> <!-- form-group// -->
              
              <div class="form-group mb-3">
                 <input  type="password" required name="password1" id="userProfileEmailPasswordChange1"  class="form-control" placeholder="New Password" >
                 <p class="text-danger small m-0 p-0" id="userProfileEmailPasswordChange1Error"></p>

                </div> <!-- form-group// -->

              
              <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-dark rounded-0 w-100 mt-2"> Change Password </button>
              </div> <!-- form-group// -->    
          </form>

          

          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4"><a href="#" class="text-decoration-none">Go Back</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
{% endblock %}
