{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Admin - Electra</title>
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'admincontrol/assets/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{% static 'admincontrol/vendors/simplebar/css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'admincontrol/css/vendors/simplebar.css' %}">
    <!-- Main styles for this application-->
    <link href="{% static 'admincontrol/css/style.css' %}" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link href="{% static 'admincontrol/css/examples.css' %}" rel="stylesheet">
    <link href="{% static 'admincontrol/css/test.css' %}" rel="stylesheet">
   
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
 
    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

  </head>

<body>
    {% if request.user.is_authenticated %}
        {% include "admincontrol/header.html" %} 

    {% endif %}

    
    
    {% block content %}

    {% endblock %}

    {% include "admincontrol/footer.html" %} 


    

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


  <!-- CoreUI and necessary plugins-->
  <script src="{% static 'admincontrol/vendors/@coreui/coreui/js/coreui.bundle.min.js' %}"></script>
  <script src="{% static 'admincontrol/vendors/simplebar/js/simplebar.min.js' %}"></script>
  <!-- Plugins and scripts required by this view-->
  <script src="{% static 'admincontrol/vendors/@coreui/utils/js/coreui-utils.js' %}"></script>
  <script src="{% static 'admincontrol/js/main.js' %}"></script>
  <script src="{% static 'admincontrol/js/custom.js' %}"></script>
  <script>
  </script>

</body>
</html>