{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
         
    {% block title %}

    {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- favicon
     -->
    
     <link rel="icon" type="image/x-icon" href="{% static 'store/images/icons/favicon.svg' %}">


     <!-- style sheet  -->
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
     <!-- owl min css -->
    <link rel="stylesheet" href="{% static 'store/css/owl.carousel.min.css'  %}">



    <!-- font added poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

</head>
<body>
    
    {% include "store/navbar.html" %} 
    
    {% block content %}

    {% endblock %}

    {% include "store/footer.html" %} 
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="{% static 'store/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'store/js/main.js' %}"></script>

</body>
</html>