{% extends "base/admincontrol/base.html" %}
{% load static %}
{% block content %}

<div class="container col-xl-4 col-10 pt-4 mb-5">
    {% if messages %}
    {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-dark {% endif %}"
      role="alert">
      <strong>{{message.tags|title}} !</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

{% endif %}

    <div class="card mb-3 " >
      <div class="card-header bg-dark text-center "><h4 class="text-white">Edit Coupon {{form.coupon_code.value}}</h4> </div>
      <div class="card-body">
       
        <form method="post">
          {% csrf_token %}
  
          {{form.as_p}}
          
          
         

         
          <div>
            
            <button type="submit" class="btn btn-primary w-100">Update  Now</button>
        </div>
        </form>
        <p class="base-small-font mt-2">
          <a  href="{% url 'admin-all-coupon' %}">Go Back</a>
          

          </p>
      </div>
    </div>
  </div>
  

{% endblock %}