{% extends "base/admincontrol/base.html" %}
{% load static %}
{% block content %}


<!-- ==================login ========== -->
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <div class="card-body">

                  <form action="" method="POST">
                    {% csrf_token %}
                  <h1>Admin Login</h1>
                  <p class="text-medium-emphasis">Enter OTP</p>
                  <div class="input-group mb-3"><span class="input-group-text">
                   OTP</span>
                    <input class="form-control"  type="text" name="otp" maxlength="4" placeholder="4 Digit OTP">
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary px-4" type="submit">Confirm Otp</button>
                    </div>
                  
                  </form>
                    <div class="col-6 text-end">
                      <a class="btn  btn-link px-0" href="{% url 'admin-login' %}" type="button">Login Using Password</a>
                    </div>
                    
                  </div>
                  
                </div>
                {% if messages %}
                        {% for message in messages %}
                        <div
                          class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-dark {% endif %}"
                          role="alert">
                          <strong>{{message.tags|title}} !</strong> {{message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        {% endfor %}

                    {% endif %}
              </div>
              
              <div class="card col-md-5 text-white bg-white py-5">
                <div class="card-body text-center">
                  <div>
                   
                    
            <img src="{% static 'admincontrol/custom_images/adminlogin.png' %}" class="mw-100"  alt="admin-login" >

                    <!-- <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    
{% endblock %}