{% extends "base/admincontrol/base.html" %}
{% load static %}
{% block content %}

<div class="container col-xl-10 col-10 pt-4 mb-5">
    {% if messages %}
    {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-dark {% endif %}"
      role="alert">
      <strong>{{message.tags|title}} !</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

{% endif %}


    <div class="card mb-3 " >
      <div class="card-header bg-dark text-center "><h4 class="text-white">Edit </h4> </div>
      <div class="card-body">
       
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
  
          
          {{product_variant_form.as_p}}
          <hr>
          <h6>Additional Image Currently</h6>
          <div class="row">
            
            {% for current_additional_image in current_additional_images %}
                <!-- <div>

                  <a href="{{current_additional_image}}">-->
                    <img src="{{current_additional_image}}" style="max-width: 100px;" alt=""> 
                  <!-- </a>
                </div> -->
               
  
              {% endfor %}
          </div>
          <div>
            
            <label class="form-label">Change:    </label>
            <input type="file" name="additional_images" class="form-control" multiple>
            <hr>
          </div>
          <div>
            
            <button type="submit" class="btn btn-primary w-100">Update  Now</button>
        </div>
        </form>
        <hr>
        
       


        
        <p class="base-small-font mt-2">
          <a  href="{% url 'admin-all-product' %}">Go Back</a>
          <a class="text-danger" href="{% url 'admin-product-variant-delete' product_variant_slug %}">Delete</a>

          </p>
      </div>
    </div>
  </div>
  

{% endblock %}