{% extends "base/store/base.html" %}
{% load humanize %}
{% load static %}
 
{% block title %}
Electra - Cart
{% endblock %}
  
{% block content %}

<style>
    .line-clamp {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* Change this line if you want. In this case it trimmed the text to 3 lines. */
        overflow: hidden;
      }
      
</style>
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 CART PAGE ================================= -->
    {% if messages %}
            {% for message in messages %}
            <div
              class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-dark {% endif %}"
              role="alert">
              <strong>{{message.tags|title}} !</strong> {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        
            {% endfor %}
        
        {% endif %}


    {% if not cart_items %}
    
    <div class="text-center">
        <img src="{% static 'store/images/yourcarteempty.png' %}" style="width: 250px;"/>
        <h2 class="">Your Shopping Cart Is Empty</h2>
        <a href="{% url 'store' %}" class="btn btn-dark w-50"> Continue Shopping</a>
    </div>
    {% else %}
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
        
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
         
    {% for cart_item in cart_items %}
        <tr>
            <td>
                <!-- product_offer_percentage -->
                <div class="position-absolute" style="z-index: 2;">
                    {% if cart_item.product.product_offer.offer_percentage != 0 %}

                   <span class="bg-danger text-white p-1 card"><small> -{{cart_item.product.product_offer.offer_percentage}}%</small></span>
                                                                       
                    {% endif %}
                </div>
                <figure class="itemside align-items-center">
                    
                    

                    <div class="aside"><img src="{{cart_item.product.thumbnail_image.url}}" class="img-sm"></div>
                    <figcaption class="info">
                        

                        <a href="{{cart_item.product.get_url}}" class="title text-dark line-clamp">
                            {{ cart_item.product.product.product_brand }}
                            {{ cart_item.product.product.product_name }}
                            -{{ cart_item.product.sku_id }}
                           
                        </a>
                        <p class="text-muted small">
                            Variant:{% for attribute in cart_item.product.atributes.all %}
                            {{attribute.atribute_value}},
                        {% endfor %}
                            <br> Brand: {{cart_item.product.product.product_brand}}</p>
                    </figcaption>
                </figure>
            </td>
            {% if cart_item.product.stock <= 0 %}
            <td>
                <p class="text-danger">
                    OUT OF STOCK
                </p>
                
            </td>
            {% else %}
            <td> 
                <!-- col.// -->
                            <div class="col"> 
                                <div class="input-group input-spinner">
                                    <div class="input-group-prepend">
                                    <a type="button" href="{% url 'remove-cart' cart_item.product.id %}" class="btn btn-outline-secondary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                                </a>
                                    </div>
                                    <input type="text" class="form-control"  value="{{cart_item.quantity}}">
                                    
                                    <div class="input-group-append">
                                    <a type="button" href="{% url 'add-cart' cart_item.product.id %}" class="btn btn-outline-secondary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                    </svg>
                                                </a>
                                    </div>
                                </div> <!-- input-group.// -->
                            </div> <!-- col.// -->
            </td>
            {% endif %}

            <td> 
                <div class="price-wrap">  
                    <var class="price">Rs{{cart_item.sub_total|intcomma }}</var> 
                    <small class="text-muted">Each Price Rs{{cart_item.product.product_price|intcomma }}
                        <del>Rs{{cart_item.product.max_price|intcomma }}</del>
                    </small> 
                </div> <!-- price-wrap .// -->
            </td>
            <td class="text-right"> 
            <a href="{% url 'remove-cart-item' cart_item.product.id %}" class="btn btn-danger"> Remove</a>
            </td>
        </tr>
    {% endfor %}
   
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">Rs {{total_with_orginal_price|intcomma }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount:</dt>
                  <dd class="text-right text-success"> -Rs {{discount|intcomma }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>Rs{{grand_total|intcomma }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'store/images/footer-payment.webp' %}" alt="footer-payment" height="26">
                </p>
                <a href="{% url 'checkout' %}" class="btn btn-dark btn-block"> Checkout </a>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {% endif %}
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}