{% extends "base/store/base.html" %}
{% load humanize %}

{% load static %}
 
{% block title %}
Electra - Cart
{% endblock %}
  
{% block content %}

<style>
    .line-clamp {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* Change this line if you want. In this case it trimmed the text to 3 lines. */
        overflow: hidden;
      }
      
</style>
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 CART PAGE ================================= -->
    
    
    <div class="row">
        <aside class="col-lg-6">
            {% if messages %}
            {% for message in messages %}
            <div
              class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-dark {% endif %}"
              role="alert">
              <strong>{{message.tags|title}} !</strong> {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        
            {% endfor %}
        
        {% endif %}
        
            <div class="card">
                <div class="card-body">
                    <h5>User Details</h5>
                    <div class="form-row row">
                        <div class="col-6 form-group">
                            <label for="">Name</label>
                            <input type="text"  readonly value="{{user}}" class="form-control">
                        </div>
                        <div class="col-6 form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" readonly value="{{user.email}}" class="form-control">
                        </div>
                    </div>
                    </div>
            </div>

         
            
            

            <div class="card my-2">
                <div class="card-body">
                    <h5>Shipping Address</h5>
                   
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark mx-2" data-toggle="modal" data-target="#adressModal">
                        Add New Adress
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="adressModal" tabindex="-1" role="dialog" aria-labelledby="adressModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="adressModalLabel">Create New Adress</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'user-address-create' checkout='checkout' %}" method="POST">
                                    {% csrf_token %}
                                    {{adress_form.as_p}}
                                
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark">Add Now</button>
                        </form>
                            </div>
                        </div>
                        </div>
                    </div>






                    <form action="{% url 'place-order' %}" method="POST">
                        {% csrf_token %}
                    {% for address in addreses %}
                    <div class="form-check border border-dark my-2">
                        <div class="p-2">
                            
                            <input value="{{ address.id }}" class="form-check-input" type="radio" name="address" id="address{{ forloop.counter }}" {% if address.is_default %}checked{% endif %}>
                            <label class="form-check-label" for="address{{ forloop.counter }}">
                                {{ address.get_user_full_address|slice:":80"|safe }}...
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    
            
                    </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                   

                    <div class="form-row row mt-2">
                        
                        
                        <div class="col form-group">
                            <label for="">Order Note</label>
                            <input type="text" name="order_note"   class="form-control">
                        </div>
                    </div>

                    </div>
            </div>
    <div class="card">
        
    
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-6">
    
            <div class="card">
            <div class="card-body">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Product</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                         
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{cart_item.product.thumbnail_image.url}}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{cart_item.product.get_url}}" class="title text-dark line-clamp">
                                            {{ cart_item.product.product.product_brand }}
                                            {{ cart_item.product.product.product_name }}
                                            -{{ cart_item.product.sku_id }}
                                           
                                        </a>
                                        <p class="text-muted small">
                                            Variant:{% for attribute in cart_item.product.atributes.all %}
                                            {{attribute.atribute_value}},
                                        {% endfor %}
                                            <br> Brand: {{cart_item.product.product.product_brand}}</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                <!-- col.// -->
                                            <div class="col"> 
                                                <div class="input-group input-spinner">
                                                    
                                                    <input type="text" class="form-control" readonly  value="{{cart_item.quantity}}">
                                                    
                                                </div> <!-- input-group.// -->
                                            </div> <!-- col.// -->
                            </td>
                            <td> 
                                <div class="price-wrap">  
                                    <var class="price">Rs{{cart_item.sub_total|intcomma }}</var> 
                                    <small class="text-muted">Each Price Rs{{cart_item.product.sale_price|intcomma }}
                                        <del>Rs{{cart_item.product.max_price|intcomma }}</del>
                                    </small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                           
                        </tr>
                    {% endfor %}
                   
                    </tbody>
                    </table>

                    <div class="col-6 form-group my-3">
                        <span id="coupon-not-applied">
                            <label for="">Have Coupon ?</label>
                            <div class="row">
                                
                                    <div class="col-8">
                                        <input type="text" name="coupon_code" class="form-control" id="coupon_code">
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-secondary" id="coupon_btn">Apply</button>
                                    </div>
                                
                            </div>
                        </span>
                            <div id="coupon-applied" class="d-none my-2">
                                <button id="coupon-applied-btn"  class="btn btn-success text-capitalize">
                                    Coupon Value
                                </button>
                                <a href="" class="text-decoration-none text-danger" onClick="window.location.reload()">
                                    
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                  </a>
                               <small><p class="text-success" id="coupon-applied-description"></p> </small> 
                            </div>
                            <div class="col">
                                <p id="couponError" class="text-danger my-2"></p>
                               <a href="" data-toggle="modal" data-target="#couponsModal"><small>View All Coupons</small></a>
                            </div>
                        </div>
                    

                    <!-- couponsModal -->
                    <div class="modal fade" id="couponsModal" tabindex="-1" role="dialog" aria-labelledby="couponsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="couponsModalLabel">Coupons</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">

                                {% for coupon in coupons%}
                                <div class="card my-1">
                                    <div class="card-body">
                                        <b>{{coupon.coupon_code}}</b>
                                        {{coupon.description}}
                                    </div>
                                </div>
                                    {% endfor %}
                                
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           
                        
                            </div>
                        </div>
                        </div>
                    </div>



                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">Rs {{total_with_orginal_price|intcomma }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount:</dt>
                  <dd class="text-right text-success">- Rs {{discount|intcomma }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Additional Discounts:</dt>
                  <dd class="text-right text-success" id="additional_discount_checkout">- Rs 0</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong> <span id="grand_total_checkout">Rs{{grand_total|intcomma }} </span> </strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'store/images/footer-payment.webp' %}" alt="footer-payment" height="26">
                </p>
                <div class="text-center">

                    <button type="submit" class="btn btn-dark w-100"> Place Order </button>
                    <a href="{% url 'store' %}" class="btn btn-light w-100 mt-1">Continue Shopping</a>
                </div> <!-- card-body.// -->
                </div>
            </div> <!-- card.// -->
        </form>
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


<script>
    var btn = $('#coupon_btn');
    btn.on('click', function(e){
        e.preventDefault();
        document.getElementById('couponError').innerText=''
        document.getElementById('coupon-applied').classList.add('d-none')
        var coupon_code = $('#coupon_code').val();
        
        var url = 'coupon/verify'

        var data = {
            coupon_code: coupon_code,
        };

  $.ajax({
    type: "POST",
    url: url,  // Replace with the actual URL for your view
    dataType: "json",
    data: JSON.stringify(data),
    headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken"), 
      },
      success: (data) => {
        if (data.status === "success") {
          // email success
          console.log(data);
          document.getElementById('coupon-applied').classList.remove('d-none')
          document.getElementById('coupon-not-applied').classList.add('d-none')
          document.getElementById('coupon-applied-description').innerText = data.message
          document.getElementById('coupon-applied-btn').innerText = coupon_code

          document.getElementById('additional_discount_checkout').innerText = '- Rs'+( data.grand_total * data.discount_percentage )/100

          var new_grand_total =     data.grand_total - ( data.grand_total * data.discount_percentage )/100
          document.getElementById('grand_total_checkout').innerText = 'Rs'+ new_grand_total
        

      } else {
          // Password change error
          console.log(data);
          document.getElementById('couponError').innerText = data.message
          // Display the error message on the page
      }
        
    },
    error: (xhr, status, error) => {
        // Display the error message on the page
        console.log("error");
        console.log(error);
    }
    });

    });
</script>




{% endblock %}