{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'store/images/logo.svg' %}" alt="electra-header-logo" height="36">
      </a>
<div class="d-flex align-items-center">
    <div class="mx-2 position-relative d-xl-none d-lg-none d-block">
      <a href="{% url 'cart' %}">

        <img src="{% static 'store/images/icons/bag.svg' %}" width="24" height="24" alt="cart" >
      </a>

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{cart_count}}
        </span>
    </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    
</div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Store</a>
          </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'store' %}">About </a>
          </li>
        
        </ul>
        <div class="input-group d-none d-lg-flex">
            <span class="input-group-append bg-black">
                <button class="form-control bg-black text-white border-0" type="button">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
                </button>
            </span>
            <input class="form-control bg-black border-0 text-light" type="search" placeholder="Search Something..." id="example-search-input">
            <div class="col-4">
              <select class="form-select" aria-label="Default select example" onchange="location = this.value;" >
                <option value="{% url 'store' %}" >All Category</option>
                {% for category in all_category_list %}
                    {% if category.parent_cat %}
                   
                      <option value="{{category.get_url}}">{{category.cat_name}}</option> 
                    
                    {% endif %}
                {% endfor %}
              </select>
             </div>
        </div>

        <ul class="navbar-nav align-items-xl-center">
            <li class="nav-item dropdown">
              {% if request.user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if request.user.profile_pic %}
                    <img src="{{request.user.profile_pic.url}}" class="rounded-circle"  width="24" height="24" alt="user-icon" >
                  {% else %}
                    <img src="{% static 'store/images/icons/user.svg' %}" width="24" height="24" alt="user-icon" >
                  {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'user-dashboard' %}">Dashboard</a>     
                    <a  class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>  
                  
                </div>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'login-page' %}">Login</a>
              </li> 
                {% endif %}
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li> -->
            <div class="mx-2 position-relative d-xl-block d-lg-block d-none">
                <a href="{% url 'cart' %}">
    
                  <img src="{% static 'store/images/icons/bag.svg' %}" width="24" height="24" alt="cart" >
                </a>
    
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cart_count}}
                  </span>
                  
              
              </div>
            
        </ul>
      </ul>
    </div>
  </nav>