{% extends "base/store/base.html" %}

{% load static %}
 
{% block title %}
Electra - Cart
{% endblock %}
  
{% block content %}




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item " href="{% url 'user-dashboard' %}"> My Dashboard </a>
                <a class="list-group-item bg-dark text-white" href="{% url 'order-history' %}"> My order history </a>
                <a class="list-group-item " href="{% url 'user-address' %}"> My Address </a>
                <a class="list-group-item" href="{% url 'user-wishlist' %}"> My Whishlist </a>
                
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">All Orders ({{orders_count}})</strong>
            </header>
            <div class="card-body">
                <div class="row"> 

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
            <table class="table table-hover">
                {% for order in orders %}
                <tr>
                    
                    <td> 
                        <var class="price text-muted">
                            {{order.order_number}}
                        </var>
                        <span class="text-muted">
                                {{order.created_at}}
                        </span><br>
                       
                    </td>
                    <td> Rs.{{order.order_total}} <br> 
                        {% if 'Cancelled' in order.order_status %}
                           <span class="text-danger">Cancelled</span> 
                            {% else %}
                            <span class="text-success">{{order.order_status}}
                            </span>
                            {% endif %}
                    </td>
                    <td width="250"> <a href="{% url 'order-history-detail' order.order_number %}" class="btn btn-outline-dark">
                        Track order</a>
                         <!-- <a href="#" class="btn btn-light"> Details </a>  -->
                    </td>
                </tr>
                {% empty %}
                    <!-- Alternative code when the loop is empty -->
                   <tr>
                    <td>
                        No items found.

                    </td>
                   </tr> 
                {% endfor %}
                
            </table>



            
            





            </div> <!-- table-responsive .end// -->
          
            </article> <!-- order-group.// --> 
            <nav class="mt-4" aria-label="Page navigation sample">
                {% if orders.has_other_pages  %}
              <ul class="pagination">
                
                {% if orders.has_previous %}
                <li class="page-item "><a class="page-link" href="?page={{orders.previous_page_number}}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
        
                {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
        
                {% if orders.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{orders.next_page_number}}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </nav>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    



{% endblock %}
