{% extends "base/store/base.html" %}

{% load static %}
 
{% block title %}
Electra - Cart
{% endblock %}
  
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 CART PAGE ================================= -->
    
    
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h5>User Details</h5>
                    <div class="form-row row">
                        <div class="form-group">
                            {{user}},
                            {{user.email}}
                        </div> 
                    </div>
                    </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                    <h5>Shipping Address</h5>
                    <div class="form-row row">
                        <div class="form-group ">
                            {{shipping_address.name}}
                            {{shipping_address.phone}},<br>
                            {{shipping_address.address_line_1}},
                            {{shipping_address.address_line_2}},<br>
                            {{shipping_address.city}},
                            {{shipping_address.state}},<br>
                            {{shipping_address.country}},<br>
                            {{shipping_address.pincode}},
                        </div>

                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                    <h5>Item Details</h5>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                  <th scope="col">Product</th>
                                  <th scope="col" width="120">Quantity</th>
                                  <th scope="col" width="120">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                     
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="{{cart_item.product.thumbnail_image.url}}" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="{{cart_item.product.get_url}}" class="title text-dark line-clamp">
                                                        {{ cart_item.product.product.product_brand }}
                                                        {{ cart_item.product.product.product_name }}
                                                        -{{ cart_item.product.sku_id }}
                                                       
                                                    </a>
                                                    <p class="text-muted small">
                                                        Variant:{% for attribute in cart_item.product.atributes.all %}
                                                        {{attribute.atribute_value}},
                                                    {% endfor %}
                                                        <br> Brand: {{cart_item.product.product.product_brand}}</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td> 
                                            <!-- col.// -->
                                                        <div class="col"> 
                                                            <div class=" text-center">
                                                                
                                                                <p class="text-center">{{cart_item.quantity}}</p>
                                                                
                                                            </div> <!-- input-group.// -->
                                                        </div> <!-- col.// -->
                                        </td>
                                        <td> 
                                            <div class="price-wrap">  
                                                <var class="price">Rs{{cart_item.sub_total}}</var> 
                                                <small class="text-muted">Each Price Rs{{cart_item.product.sale_price}}</small> 
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                       
                                    </tr>
                                {% endfor %}
                               
                                </tbody>
                                </table>
                             <!-- card-body.// -->
                            </div>
                        </div>
            </div>
            <div class="card">
                
            
            </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <!-- <div class="card">
            <div class="card-body">
                <p class="text-center mb-3">
                    PAYMENT METHODS 
                    {% for methods in payment_methods%}
                    
                    <div class="form-check border border-dark my-2">
                        <div class="p-2">
                            <input value="{{methods.method_name}}" class="form-check-input" type="radio" name="method" >
                            <label class="form-check-label" for="address{{ forloop.counter }}">
                                {{methods.method_name |title }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}

                    
                </p>
                
                    card-body.// -->
                <!-- </div>
            </div> -->
        
             <!-- card.// -->
            <div class="card mt-2">
            <div class="card-body">
                
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">Rs{{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount:</dt>
                  <dd class="text-right"> Rs{{discount}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>Rs{{grand_total}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'store/images/footer-payment.webp' %}" alt="footer-payment" height="26">
                </p>
                <div class="text-center">
                    {% for method in payment_methods %}
                    
                    {% if method.method_name == 'RAZORPAY' %}
                    <button id="rzp-button1" class="btn btn-primary my-2 w-100">Pay with Razorpay</button>
                    {% endif %}
                    
                    {% if method.method_name == 'COD' %}
                    <button class="btn btn-primary w-100" id="cod-btn-1">Cash On Delivery</button>
                    {% endif %}


                    {% endfor%}
                   

                    <a href="{% url 'store' %}" class="btn btn-light w-100 mt-1">Continue Shopping</a>
                </div> <!-- card-body.// -->
                </div>
            </div> <!-- card.// -->
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
    </section>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_qs3VUf22rEQ5oN", // Enter the Key ID generated from the Dashboard
        "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Electra Electronics",
        "description": "{{order.order_number}}",
        "image": "{% static 'store/images/logo.svg' %}",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
       // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
        "prefill": {
            "name": "{{request.user.first_name}}",
            "email": "{{request.user.email}}",
            "contact": "{{request.user.phone_number}}"
        },
        
        "handler": function (response){
            
            console.log(response.razorpay_payment_id)
            console.log(response.razorpay_order_id)
            console.log(response.razorpay_signature)
            window.location.href = `{{success_url}}?order_id={{order.order_number}}&method=RAZORPAY&payment_id=${response.razorpay_payment_id}&payment_order_id=${response.razorpay_order_id}&payment_sign=${response.razorpay_signature}`
            
            
        },

        "notes": {
            "address": "ELectra Private Limited"
        },
        "theme": {
            "color": "#000"
        },
        
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
        console.log(
            response.error.description
        )
        window.location.href=`{{failed_url}}?error_code=${response.error.code}&error_description=${response.error.description}&error_reason=${response.error.reason}&error_payment_id=${response.error.metadata.payment_id}&error_order_id=${response.error.metadata.order_id}&method=COD`
        //alert(response.error.code);
        //alert(response.error.description);
        //alert(response.error.source);
        //alert(response.error.step);
        //alert(response.error.reason);
        //alert(response.error.metadata.order_id);
        //alert(response.error.metadata.payment_id);
    });

    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open()
        e.preventDefault();
    }
    </script>
<script>
    //COD PAYMENT
    document.getElementById('cod-btn-1').onclick = function(e){
        window.location.href=`{{success_url}}?order_id={{order.order_number}}&method=COD`
    }

</script>
{% endblock %}
