{% extends "base/store/base.html" %}

{% load static %}
 
{% block title %}
Electra - Cart
{% endblock %}
  
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 CART PAGE ================================= -->
    
    
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h5>User Details</h5>
                    <div class="form-row row">
                        <div class="form-group">
                            {{user}},
                            {{user.email}}
                        </div> 
                    </div>
                    </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                    <h5>Shipping Address</h5>
                    <div class="form-row row">
                        <div class="form-group ">
                            {{order.name}},
                            {{order.phone}},<br>
                            {{order.address_line_1}},
                            {{order.address_line_2}},<br>
                            {{order.city}},
                            {{order.state}},<br>
                            {{order.country}},<br>
                            {{order.pincode}},
                        </div>

                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                    <h5>Item Details</h5>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                  <th scope="col">Product</th>
                                  <th scope="col" width="120">Quantity</th>
                                  <th scope="col" width="120">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                     
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="{{cart_item.product.thumbnail_image.url}}" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="{{cart_item.product.get_url}}" class="title text-dark line-clamp">
                                                        {{ cart_item.product.product.product_brand }}
                                                        {{ cart_item.product.product.product_name }}
                                                        -{{ cart_item.product.sku_id }}
                                                       
                                                    </a>
                                                    <p class="text-muted small">
                                                        Variant:{% for attribute in cart_item.product.atributes.all %}
                                                        {{attribute.atribute_value}},
                                                    {% endfor %}
                                                        <br> Brand: {{cart_item.product.product.product_brand}}</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td> 
                                            <!-- col.// -->
                                                        <div class="col"> 
                                                            <div class=" text-center">
                                                                
                                                                <p class="text-center">{{cart_item.quantity}}</p>
                                                                
                                                            </div> <!-- input-group.// -->
                                                        </div> <!-- col.// -->
                                        </td>
                                        <td> 
                                            <div class="price-wrap">  
                                                <var class="price">Rs{{cart_item.sub_total}}</var> 
                                                <small class="text-muted">Each Price Rs{{cart_item.product.sale_price}}</small> 
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                       
                                    </tr>
                                {% endfor %}
                               
                                </tbody>
                                </table>
                             <!-- card-body.// -->
                            </div>
                        </div>
            </div>
            <div class="card">
                
            
            </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <p class="text-center mb-3">
                    PAYMENT METHOD : COD
                </p>
                <!-- card-body.// -->
                </div>
            </div> <!-- card.// -->
            <div class="card mt-2">
            <div class="card-body">
                
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">Rs{{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount:</dt>
                  <dd class="text-right"> Rs{{discount}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>Rs{{grand_total}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'store/images/footer-payment.webp' %}" alt="footer-payment" height="26">
                </p>
                <div class="text-center">

                    <a href="{% url 'payment' 'COD' order.order_number %}" class="btn btn-primary w-100"> Make Payment</a>
                    <a href="{% url 'store' %}" class="btn btn-light w-100 mt-1">Continue Shopping</a>
                </div> <!-- card-body.// -->
                </div>
            </div> <!-- card.// -->
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
    </section>


{% endblock %}
