{% extends "base/store/base.html" %}

{% load static %}
 
{% block title %}
Electra - Product Detail
{% endblock %}

  
{% block content %}


     <!-- ZOOM -->
    <script src="{% static 'store/js/jquery_zoom/main.js' %}" type="text/javascript"></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'store/css/jquery_zoom/style.css'  %}">



<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
                <article class=""> 
                    <div class="img-big-wrap">
                        <div id='lens'></div>

                            <div id='slideshow-items-container'>
                            
                            <img class='slideshow-items active' src="{{single_product_variant.thumbnail_image.url}}" alt="thumbnail">
                                {% for additional_image in  single_product_variant.additional_product_images.all %}
                                <img class='slideshow-items' src="{{ additional_image.image.url }}" alt="Additional Image">
                                {% endfor %}
                            </div>

                
                            <div id='result'></div>

                            <div class='row'>
                                <img class='slideshow-thumbnails active' src="{{single_product_variant.thumbnail_image.url}}" alt="thumbnail">
                                {% for additional_image in  single_product_variant.additional_product_images.all %}
                                <img class='slideshow-thumbnails' src="{{ additional_image.image.url }}" alt="Additional Image">
                                {% endfor %}
                            </div>
                    </div> 
                </article>  
            </aside>
      
        

        <!-- gallery-wrap .end// -->
            <main class="col-md-6 border-left">
                <article class="content-body">
    
                    <h2 class="title"> {{ single_product_variant.product.product_brand }}
                        {{ single_product_variant.product.product_name }}
                        -{{ single_product_variant.sku_id }}
                        ({% for attribute in single_product_variant.atributes.all %}
                        {{ attribute.atribute_value }}
                        {% endfor %})</h2>
    
                    <div class="mb-3"> 
                        <var class="price h4">₹{{ single_product_variant.sale_price }}</var> 
                        <del class="price-old">₹{{ single_product_variant.max_price }}</del>
                        <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>
                    </div> 
    
                    <hr>
                    <p>{{single_product_variant.product.product_description}}
    
                    <div class="row">
                        <div class="container">
                            <div>
                            
                                {% for product_variant in product_variants %}
                                
                                    {% if product_variants_count > 1 %}
                                    <span class="mx-1 ">
                                        <a type="button"  href="{{ product_variant.get_url }}" class="btn btn-outline-dark mt-2">
                                            {% for attribute in product_variant.atributes.all %}
                                                {{ attribute.atribute_value }}
                                            {% endfor %}
                                    
                                            </a>                  
                                    </span>
                                    {% endif %} 
                                
                                {% endfor %}
                                
                                
                            </div>
                        </div>

                    </div>
                        <hr>
                        {% if single_product_variant.stock <= 0 %}
                        <h5 class='text-danger'>Out Of Stock</h5>
                        {% else %}
                            {% if in_cart %}
                            <button class="btn  btn-success"> <span class="text">
                                Added To Cart
                            </span>      
                            </button>
                            <a href="{% url 'cart' %}" class="btn  btn-primary"> <span class="text">
                               View Cart
                            </span>      
                            </a>
                            {% else %}

                            <a href="{% url 'add-cart' single_product_variant.id %}" class="btn  btn-dark"> <span class="text">
                                <svg width="29" height="20" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#fff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>    
                                Add to cart
                            </span>      
                            </a>
                            {% endif%}
                        {% endif%}
                        
                    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
   
<!--     
    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
    
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">24.04.2020 </span>  
                    <h6 class="mb-1">Mike John </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            <!-- <div class="mt-3">
                <p>
                    Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>	
            </div>
        </article> -->
    
        
    
        <!-- </div>  -->
        <!-- col.// -->
    <!-- </div>  -->
    <!-- row.// -->
   
    
    </div> <!-- container .//  -->
   
    </section>
    
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}