{% extends "base/store/base.html" %}

{% load static %}
 
{% block title %}
Electra - Product Detail
{% endblock %}

  
{% block content %}


     <!-- ZOOM -->
    <script src="{% static 'store/js/jquery_zoom/main.js' %}" type="text/javascript"></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'store/css/jquery_zoom/style.css'  %}">



<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
                <article class=""> 
                    <div class="img-big-wrap">
                        <div id='lens'></div>

                            <div id='slideshow-items-container'>
                            
                            <img class='slideshow-items active' src="{{single_product_variant.thumbnail_image.url}}" alt="thumbnail">
                                {% for additional_image in  single_product_variant.additional_product_images.all %}
                                <img class='slideshow-items' src="{{ additional_image.image.url }}" alt="Additional Image">
                                {% endfor %}
                            </div>

                
                            <div id='result'></div>

                            <div class='row'>
                                <img class='slideshow-thumbnails active' src="{{single_product_variant.thumbnail_image.url}}" alt="thumbnail">
                                {% for additional_image in  single_product_variant.additional_product_images.all %}
                                <img class='slideshow-thumbnails' src="{{ additional_image.image.url }}" alt="Additional Image">
                                {% endfor %}
                            </div>
                    </div> 
                </article>  
            </aside>
        <!-- <article class="gallery-wrap"> 
            <div class="img-big-wrap">
            <a href="#"><img src="{{single_product_variant.thumbnail_image.url}}"></a>
            </div> 
            <div>
                {% for additional_image in single_product_variant.additional_images.all %}
                    <img src="{{ additional_image.image.url }}" alt="Additional Image">
                {% endfor %}
            </div>
        </article>  -->
        

        <!-- gallery-wrap .end// -->
            <main class="col-md-6 border-left">
                <article class="content-body">
    
                    <h2 class="title"> {{ single_product_variant.product.product_brand }}
                        {{ single_product_variant.product.product_name }}
                        -{{ single_product_variant.sku_id }}
                        ({% for attribute in single_product_variant.atributes.all %}
                        {{ attribute.atribute_value }}
                        {% endfor %})</h2>
    
                    <div class="mb-3"> 
                        <var class="price h4">₹{{ single_product_variant.sale_price }}</var> 
                        <del class="price-old">₹{{ single_product_variant.max_price }}</del>
                        <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>
                    </div> 
    
                    <hr>
                    <p>{{single_product_variant.product.product_description}}
    
                    <div class="row">
                        <div class="container">
                            <div>
                            
                                {% for product_variant in product_variants %}
                                
                                    {% if product_variants_count > 1 %}
                                    <span class="mx-1">
                                        <a type="button" href="{{ product_variant.get_url }}" class="btn btn-outline-dark">
                                            {% for attribute in product_variant.atributes.all %}
                                                {{ attribute.atribute_value }}
                                            {% endfor %}
                                    
                                            </a>                  
                                    </span>
                                    {% endif %} 
                                
                                {% endfor %}
                                
                                
                            </div>
                        </div>

                    </div>
       

         
    
                        <hr>
                    <a href="./product-detail.html" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
                    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
   
<!--     
    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
    
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">24.04.2020 </span>  
                    <h6 class="mb-1">Mike John </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            <!-- <div class="mt-3">
                <p>
                    Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>	
            </div>
        </article> -->
    
        
    
        <!-- </div>  -->
        <!-- col.// -->
    <!-- </div>  -->
    <!-- row.// -->
   
    
    </div> <!-- container .//  -->
   
    </section>
    
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}