<!-- shop by category section -->
{% load static %}

<style>


</style>

<div class="contianer bg-black">
    <div class="row p-0 m-0">
        <div class="d-flex justify-content-center mb-3 text-white">
            <div>
               <h2 class="catg-heading-text py-4">
                Shop by category
                
               </h2> 
            </div>
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="d-flex justify-content-center bd-highlight text-white flex-wrap">
            <div class="p-3 rounded-top bg-secondary">Recommended</div>

            {% for category in all_category_list|slice:":4" %}
                {% if category.parent_cat %}
                  <div class="p-3 ">{{category.cat_name}}</div>
                {% endif %}
            {% endfor %}
            <div class="p-3 "><a href="{% url 'store' %}" class="text-decoration-none text-white"> All Categories</a>
             
            </div>
           <!--  <div class="p-3 ">Office Laptop</div>
            <div class="p-3 ">MacBook Pro</div> -->

          </div> 

    </div>
</div>

<div class="container mt-2">
  

    <div class="owl-carousel owl-carousel-category">
        <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product1.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Lenovo IdeaPad Ryze 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product2.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product3.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product4.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product5.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product2.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product1.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product4.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product5.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      
      <!-- item -->
      <div class="item">
        <div class="container py-5">
            <div class="row justify-content-center">
              <div class="">
                <div class="card text-black  rounded-0">
                                   
                  <img src="  {% static 'store/images/products/product3.jpg' %}"
                    class="card-img-top" alt="Apple Computer" />
                  <div class="card-body">
                    <div class="text-center">
                      <h6 class="text-black mb-2">Asus Tuff Element 
                        (8 GB/512 GB SSD)...</h6>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap align-items-center">
                        <div><small><s style="font-size: 0.8rem;">₹ 1,79,400</s></small></div>
                        <div><b class="mx-1">₹ 1,19,400</b></div>
                        </div>

                      <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.5 out of 5.">
                        </div>

                      
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-1">
                        <button type="button" class="btn btn-dark w-100">
                            <svg width="29" height="31" viewBox="0 0 29 31"  xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" d="M20.589 8.34774C20.589 4.96747 17.8487 2.22717 14.4685 2.22717C12.8407 2.22032 11.2773 2.86212 10.1238 4.01068C8.9704 5.15925 8.32201 6.71997 8.32201 8.34774M20.3945 29.4583H8.56839C4.22438 29.4583 0.891809 27.8893 1.83841 21.5743L2.94063 13.0159C3.52415 9.8649 5.53407 8.65895 7.29761 8.65895H21.7171C23.5066 8.65895 25.3998 9.95567 26.0741 13.0159L27.1763 21.5743C27.9803 27.1761 24.7385 29.4583 20.3945 29.4583Z" stroke="#200E32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>      
                            Add To Cart
                          </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      

    </div>
</div>
