{% load static %}

<div class="content">
    
    <div class="container-fluid">
       
      <div class="owl-carousel owl-1">

        {% for banner in banners%}
        <div class="slider-div">
          
            <img src="{{banner.banner_image.url}}" alt="Snow" style="width:100%;">
            <div class="bottom-left">
             <a class="btn btn-dark rounded-0 d-none d-xl-block d-lg-block d-md-block" href="{{banner.banner_url}}">
              {{banner.button_text}}
             </a>
         
          </div>
        </div>
        {% endfor%}
      

      </div>
    </div>
  </div>