{% load static %}

<div class="content">
    
    <div class="container-fluid">
       
      <div class="owl-carousel owl-1">
        
        <div class="slider-div">
          <img src="{% static 'store/images/hero_1.jpg' %}" alt="Snow" style="width:100%;">
          <div class="bottom-left">
           <button class="btn btn-dark rounded-0 d-none d-xl-block d-lg-block d-md-block">
            Buy Now
           </button>
          </div>
        </div>

        <div class="slider-div">
          <img src="{% static 'store/images/hero_3.jpg' %}" alt="Snow" style="width:100%;">
          <div class="bottom-left">
           <button class="btn btn-dark rounded-0 d-none d-xl-block d-lg-block d-md-block">
            Order Now
           </button>
          </div>
        </div>

      </div>
    </div>
  </div>